body{
    margin: 0;
    background-color: black;
   }
/*Navigation*/
#nav{
    height: 120px;
    width: 100%;
    margin: 0%;
    background-color:black;
}

#title{
 color: beige;
 margin: 0;
 text-align: center;
 padding-top: 40px;
 font-size: 40px;
}

/*About me button, About me transition code sor slide down */
.AboutBtn{
  text-decoration: none;
  color: white;
  margin-left: 5.5%;
  font-size: 20px;
  -moz-transition: all ease 10s;
  -webkit-transition: all ease 1s; 
  transition: all ease 1s; 
  padding: 0.4em 1.8em 0.4em 1.8em;
  
}
.AboutBtn:hover{
 border-bottom: 0.27vw solid red;
 box-shadow: inset 0 100px white;
    color: black;
}

#bodyAbout{
  height: 550px;
  width: 100%;
  margin: 0%;
  margin-top: 0px;
  background-color: #242526;
  -webkit-transition: all ease 2s;
 -moz-transition: all ease 2s;
 transition: all ease 2s;
 background-color: white;
 z-index: 2;
}

#bodyAbout2{
  height: 750px;
  width: 100%;
  margin: 0%;
  background-image: url("maxresdefault.jpg");
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center;
}

#bodyAbout2 > div{
 height: 380px;
 width: 500px;
 background-color:white;
 margin-left: 20px;
 display: inline-block;
 margin-top: 70px;
}

#bodyAbout:hover
 {
 box-shadow: inset 0 1000px 0 0 #0f0f0f;
 
 }

#textAbout1{
 font-size: 20px;
 color: white;
 text-align: center;
 padding-top: 100px;
}
#textAbout2{
  font-size: 20px;
  color: white;
  text-align: center;
 }
 #textAbout3{
  font-size: 20px;
  color: white;
  text-align: center;
 }

 #textAbout4{
  font-size: 20px;
  color: white;
  margin-left: 48%;
  margin-top: 10%;
 }

 #txtAbout1{
  font-size: 20px;
  color: black;
  text-align: center;
  padding-top: 50px;
 }
 #txtAbout2{
   font-size: 20px;
   color: black;
   text-align: center;
  }
  #txtAbout3{
   font-size: 20px;
   color: black;
   text-align: center;
  }
 
  #txtAbout5{
   font-size: 25px;
   color: white;
   margin-left: 48%;
   margin-top: 19%;
  }


  #bodyAbout3{
    height: 750px;
    width: 100%;
    margin: 0%;
    background-image: url("cam_afh_fr0and1_boekenkast0000.jpg__1280x960_q85_crop_subsampling-2_upscale.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
  }
  
  #bodyAbout3 > div{
    height: 380px;
    width: 500px;
    background-color:white;
    margin-left: 20px;
    display: inline-block;
    margin-top: 70px;
   }


 #bodyStart{
  height: 500px;
  width: 100%;
  margin: 0%;
  margin-top: 10px;
  background-color: white;
  -webkit-transition: all ease 2s;
 -moz-transition: all ease 2s;
 transition: all ease 2s;
 z-index: 2;
}


#btnbtn {
  border: 4px solid #3F3F3F;
  color: #3F3F3F;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  margin-top: 15%;
  margin-left: 43%;
  padding: 12px 32px 12px 82px;
  position: relative;
  text-decoration: none;
  background-color: white;
}


#btnbtn .icon-arrow {
  backface-visibility: hidden;
  transform: translateZ(0);
  perspective: 1000;
}

#btnbtn .label {
  display: inline-block;
  transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1);
}

#btnbtn .icon-arrow {
  fill: #3F3F3F;
  height: 15px;
  top: 17px;
  transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1), opacity .4s cubic-bezier(0.86, 0, 0.07, 1);
  width: 35px;
}

#btnbtn .icon-arrow.before {
  left: 32px;
  margin-right: 15px;
  position: absolute;
  transform-origin: left center;
}

#btnbtn .icon-arrow.after {
  margin-left: 15px;
  opacity: 0;
  position: absolute;
  right: 32px;
  transform: translateX(75%) scaleX(0.1);
  transform-origin: right center;
}

#btnbtn:hover .label {
  transform: translateX(-52px);
}

#btnbtn:hover .icon-arrow.before {
  opacity: 0;
  transform: translateX(-75%) scaleX(0.1);
}

#btnbtn:hover .icon-arrow.after {
  opacity: 1;
  transform: translateX(0) scaleX(1);
}

#btnbtn:active {
  border-color: #FD6154;
  color: #FD6154;
}

#btnbtn:active .icon-arrow {
  fill: #FD6154;
}

#btnStrDiv > a
 {
   color: black;
 font-size: 1.6vw;
 text-decoration: none;
 background-color: white;
 position: absolute;
 padding-top: 2em;
 padding-bottom: 2em;
 padding-left: 4em;
 padding-right: 4em;
 margin-left: 38%;
 margin-top: 18%;
 -webkit-transition: all ease 0.8s;
 -moz-transition: all ease 0.8s;
 transition: all ease 0.8s;
}

#btnStrDiv > a:hover{
 background-color:red;
}

#bodyStart:hover{
   border-top: red 5px solid;
 box-shadow: inset 0 1000px 0 0 #0f0f0f;
 border-bottom: red 5px solid;
 }

#bottomNav{
  height: 60px;
  width: 100%;
  margin: 0%;
  background-color:black;
}